* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Montserrat", sans-serif;
    
}
:root {
--var-primary-color: #00AA17;
     --var-secondary-color: #00720F;
     font-family:  "Montserrat", sans-serif;
}

a{
    color: #FFF;
    text-decoration: none;
    transition: 0.3s;
}




body { background-color: black;
    margin: 0;
    font-family:  "Montserrat", sans-serif;
  }
  header {
    background-color: #e04c16;
    color: #000;
    padding: 10px;
    font-family:  "Montserrat", sans-serif
    
  }
  .navbar {
    display: flex;
    align-items: center;
    
  }
   
  .navbar-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    padding: 10px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .content {
    padding: 20px;
  }
  
  /* Media Query para tornar a navbar responsiva */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction:row;
      align-items: start;
      
    }
    
    .navbar-toggle {
      display: block;
    }
  .bot {
    position: relative;
    left: 64px;
  }
    .navbar-links {
      display: none;
      flex-direction: column-reverse;
      align-items: center;
      
      
    }
  
    .navbar-links.active {
      display: flex;
    }
  }
   

  i{
    color: #EA7B6C;
    
  }
  h2{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2em;
    
  }
  .button{
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    max-width: 16rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #00AA17 0%, #00720F 100%);
    border-radius: 5px;
    padding: 16px 20px 16px 20px;
    display: block;
    justify-content: center;
    
    
  }
   p{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4em;
   }
  span{
  
    color: black;
  }
  
  strong {
    color: white;
  }
  ul li { color: white;

  }

  footer {
    text-align: center;
    color: black;
    padding: 1rem 1.25rem 4rem;
    background-color: #FFF;
}
footer span  {
    display: inline;
    padding-left: 0;
    background-color: white;
    margin: 0 7px;
}



i.fa-instagram:hover{
   
    
    background-color: rgb(215, 47, 128);
    align-items: center;
}
i.fa-whatsapp:hover{
   
    
    background-color:rgb(8, 223, 30);
    align-items: center;
}
i.fa-twitter:hover{
   
    
    background-color:#0CF9FF;
    align-items: center;
}
i.fa-youtube:hover{
   
    
    background-color:red;
    align-items: center;
}
p {
    text-align: center;
}

.hero-section,.courses-section {
    border-color: #00008b98;
    border-style: solid;
    border-width: 0 0 1px 1px;
   
}
.hero-section {
    padding-right: 0;
    padding-bottom: 0;
  
}

.hero-section-2{
    padding-right: 0;
    padding-bottom: 6rem;
    gap: 1rem;
    color: #FFF;
}
.hero-section-2 img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}
.hero-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;

}
.hero-section-2 p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}
.hero-section-2 .button {
    position: relative;
}

.hero-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}
.hero-section .button {
    position: relative;
}
.courses-section {
    padding-bottom: 1rem;
}
.info {
    background-image: linear-gradient(180deg, #0000FF 0%, #0505b8 100%);
 padding: 30px 0px 30px 0px;
    border-radius: 0 0 70px 70px;
}
.info.button {
   color: #0000FF;
}
.card {
    display: flex;
  flex-wrap: wrap;
    font-family: "Monserrat",sans-serif;
}
.cards {
    background-color: transparent;
    background-image: linear-gradient(270deg, #D1D1D121 0%, #1D1D1DB3 100%);
    width: 30rem; /* Largura do card */
    height: 15rem; /* Altura do card */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    
}
span{
    background-color: #E46E25;
    color: black;
  }
.card strong {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}
span.element-grid,.span {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}
span i {
    color: black;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
 }
 .mb-1 {
    margin-bottom: 1rem;
 }
 .mb-2 {
    margin-bottom: 2rem;
 }
 .mx-auto {
    margin-left: auto;
    margin-right: auto;
 }
 .text {
    color:black;
    text-align: center;
 }
 .text-center {
    text-align: center;
 }

 @media screen and (min-width: 72rem) {
    .container {
        display: flex;
        align-items: center;
        margin: 0 ;
        max-width: 72rem;
    }
    .container.row-reverse {
        flex-direction: row-reverse;
    }
    .btn {
      position: absolute;
      right: 42px;
    }
    header {
      position: relative;
      
    }
    body {
      margin: 0;
      padding: 0;
    }
    .bot {
      float: left;
  max-width: 40%; /* Ajuste a porcentagem conforme necessário */
  margin-right: 1rem;
    }
    .cards{
        width: calc(50% - 20px); /* Subtraímos a margem para garantir que dois cards caibam lado a lado */
      }
    .button{
        font-family: "Montserrat", Sans-serif;
        font-size: 15px;
        font-weight: 700;
        max-width: 21rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(90deg, #00AA17 0%, #00720F 100%);
        border-radius: 0px 0px 0px 0px;
        padding: 12px 20px 12px 20px;
        display: flex;
       
        
      }
      .button:hover {
        text-decoration: underline;
        color: black;
      }
    .column {
        flex: 2;
        background-color: #FFF;
    }

    .about-column {
   flex: 2;
   
    }
    .mapbox {
        flex: 3;
        background-color: #FFF;
        
    }
 }